# Global npm config for javamaestro projects
registry=https://repo.pepite.be/repository/npm/

# This authenticates to the Pepite repo using a readonly account (pepitero)
//repo.pepite.be/repository/npm/:_authToken=NpmToken.e88fb8db-3de8-3a27-9f6c-daf38e04d46f

always-auth=true
git-tag-version=false
